[class^='fader'] {
	overflow: hidden;
}

[class^='fader']:before,
[class^='fader']:after {
	position: absolute;
	bottom: 0;
	content: '';
	pointer-events: none;
}

[class^='fader']:before {
	z-index: 10;
	height: 100%;
	width: 100%;
	background-color: var(--dark-gray);
}

[class^='fader']:after {
	z-index: 20;
	background-color: var(--color);
}

.faderv input {
	-webkit-appearance: slider-vertical;
}

.faderh:after {
	width: calc(var(--val) * 100%);
	height: 100%;
}

.faderv:after {
	width: 100%;
	height: calc(var(--val) * 100%);
}
